@import url('https://fonts.googleapis.com/css2?family=Neucha&display=swap');
*{
    background-color: #6CC4A1;
    margin: 0;
    padding: 0;
}

.title, .subtitle, .pointContainer{
    display: flex;
    justify-content: center;
    font-family: 'Neucha', cursive;
    font-weight: bold;
    margin: 25px auto;
    width: 50%;
}

.choiceButtons {
    display: flex;
    justify-content: center;
    margin: 50px auto;
    width: 50%;
}

.choiceButtons > .choice {
    border-style: solid;
    border-color: black;
    background-color: #F6E3C5;
    border-radius: 10px;
    font-family: 'Neucha', cursive;
    font-size: 25px;
    font-weight: bold;
    margin: 0 15px 0 15px;
    padding: 15px 30px;
}

.pointContainer {
    font-size: 25px;
}

.gameSelection, .roundWinner, .gameInfo, .gameWinner {
    display: flex;
    justify-content: center;
    font-family: 'Neucha', cursive;
    font-size: 20px;
    font-weight: bold;
    margin: 25px auto;
    width: 50%;
}